.admin-area {
  .nav-menu {
    overflow: hidden;
  }
  background-color: white;
  .nav-area li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
  }
}

.new_team {
margin-top: 0px!important}

.field, .actions {
padding: 10px}
